:root {
    box-sizing: border-box;
    
    
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    
}
h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h3 {
    font-size: 1.05;
    text-decoration: underline;
}

li {
    list-style:none;
    margin-left: 30px;
}

ul {
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 70px;
    background-color: black;
    color: white;
}

.navbar a, .navbar h3 {
    margin: 0 10px 0 20px;
    color:  white;
    text-decoration: none;
}

.header-contacto {
    display: flex;
    justify-content: center;
    
    margin-bottom: 20px;
}


.main-contacto h1, h3, h2 {
    margin: 1.2em 0;
}

.main-contacto {
    margin: 0 10px 0 20px;
    display: block;
}
.form {
    line-height: 50px;
    justify-content: center;
    
}
.main-contacto > h1 {
    display: flex;
    justify-content: center;
}



.footer {
    display: block;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
  



}

.footer .ul-footer .youtube {
    margin-right: 20px;
}

.footer .ul-footer {
    display: flex;
    justify-content: space-between;
}

.footer .ul-footer li {
    list-style: none;
}



