:root {
    box-sizing: border-box;
    
    
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}
h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h3 {
    font-size: 1.05;
    text-decoration: underline;
}

li {
    list-style:circle;
    margin-left: 30px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 70px;
    background-color: black;
    color: white;
}

.navbar a, .navbar h3 {
    margin: 0 10px 0 20px;
    color:  white;
    text-decoration: none;
    transition: font-size 0.3s linear;
}

.header-campeonatos {
    display: flex;
    justify-content: center;
    
    margin-bottom: 20px;
}

.header-campeonatos video {
    max-width:320px;
    

}

.main-campeonatos h1, h3, h2 {
    margin: 1.2em 0;
}

.main-campeonatos {
    margin: 0 10px 0 20px;
}

.imagen-campeonatos {
    display: flex;
    width: 100%;
    justify-content:center ;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.imagen-campeonatos img {
    width: 180px;
    height: 180px;
    padding: 30px;
    
}

.skill {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:25% 25% 25% 25% ;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.andalucia {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gibraltar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.internacional {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.espana {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.iberico {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.mundial {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.crufts {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.barra {
    margin: 0 auto;
    height: 20px;
    width: 40%;
    background-color: gray;
    border-radius: 20px;
    overflow: hidden;


}

.skill > div > p {
    text-align: center;
    font-size: 12px;
}
.progreso {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-image: 
        linear-gradient(
            -45deg,
            yellow 25%,
            green 25%,
            green 50%,
            yellow 50%,
            yellow 75%,
            green 75%,
            green 
        );

        background-size: 50px 50px;
        animation: load 1s infinite linear;
}


.progreso2{
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 30%;
    background-image: 
        linear-gradient(
            -45deg,
            yellow 25%,
            green 25%,
            green 50%,
            yellow 50%,
            yellow 75%,
            green 75%,
            green 
        );

        background-size: 50px 50px;
        animation: load 1s infinite linear;
}
@keyframes load {
    0% {
        background-position: 0px 0px;

    }

    100% {
        background-position: 50px 50px;
    }
}
.footer {
    display: block;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 100%;
  



}

.navbar a:hover{
    font-size: 1.5rem;
    cursor: pointer;


}

.footer .ul-footer .youtube {
    margin-right: 20px;
}

.footer .ul-footer {
    display: flex;
    justify-content: space-between;
}

.footer .ul-footer li {
    list-style: none;
}

.footer .ul-footer .instagram{
    margin-left: 20px;
}

@media (min-width:375px){
    .header-campeonatos video {
    
        max-width:375px;
        
    
    }



}
@media (min-width:425px){
    .header-campeonatos video {
    
        max-width:425px;
        
    
    }

}

@media  (min-width: 768px) {

    .skill > div {
        padding-top: 20px;
    }
    .skill {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:25% 25% 25% 25% ;
        line-height: 2rem;
        margin-bottom: 20px;
    }
    
    .andalucia {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .gibraltar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .internacional {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .espana {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .iberico {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .mundial {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    .crufts {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    
}

