:root {
    box-sizing: border-box;
    
    
    
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}
h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h3 {
    font-size: 1.05;
    text-decoration: underline;
}

li {
    list-style:circle;
    margin-left: 30px;
}

.main-index h1, h3, h2 {
    margin: 1.2em 0;
    display: flex;
    justify-content: center;
    
}

.main-index {
    margin: 0 10px 40px 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70px;
    background-color: black;
    color: white;
    position: sticky;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar h3 {
    text-decoration: none;
    margin-left: 20px;
}

.ul-navbar {
    display: flex;
}
.navbar .list-navbar {
    list-style: none;
    margin-right: 15px;
    display: none;
}

.ul-navbar .list-navbar a {
    color: white;
    transition: font-size 0.3s linear;

    
}

@media  (min-width : 500px) {
    .ul-navbar .list-navbar a:hover{
        font-size: 1.5rem;
        cursor: pointer;


    }
    
}


.footer {
    display: block;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    



}

.footer .ul-footer .youtube {
    margin-right: 20px;
}

.footer .ul-footer {
    display: flex;
    justify-content: space-between;
}

.footer .ul-footer li {
    list-style: none;
    
}


.servicios {
    margin-bottom: 20px;
}


.localizacion {
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

@media (min-width: 500px){
    .navbar .ul-navbar .list-navbar {
        display: flex;
        
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .localizacion {
        min-width: 500px;
        min-height: 250px;
    }
    
   
    
}

@media (min-width: 768px) {
    .header-index {
        display: flex;
        justify-content: center;
    }
    .header-index img {
        max-width: 500px;
        
    }
    
}